body{
    background-color:olivedrab ;
}

header{

    background-color: #e0e0e0;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    text-align: center;

}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;   
}

li{
    color: firebrick;
    display: inline-block;
    margin-right: 20px;
}

a{
    color: firebrick;
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: white;
    background-color: firebrick;
}

/*Fim do header*/

/*inicio da main*/
main{

    background-color: greenyellow;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}

aside{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: rgb(230, 191, 120);
    width: 20%;
}


#secao-maior{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
    width: 80%;
}

article{
    border: 1px solid black;
    background-color: darkcyan;
    text-align: center;
    color: white;
    font-size: 20px;
}

#sub-secao{
    border: 1px solid black;
    background-color: brown;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

/*Fim da main*/

footer{
    background-color: bisque;
    border: 1px solid red;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
